.list-overflow-container {
	max-height: 545px;
	border: 3px #925772 solid;
	border-radius: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.list-overflow-container ul {
	margin: 0;
}

.list-overflow-container li * {
	cursor: pointer;
	padding-bottom: 5px;
}

.list-overflow-container li a {
	color: #925772;
}

.list-overflow-container li:nth-child(even) {
	border-top: none;
	background-color: #D4D4D4
}

.list-overflow-container li:last-child {	
	border-bottom: none;
}
